#btnNueva{
    margin-bottom: 20px;
}

hr{
    margin:10px 0px;
    width: 410px;
}

@media (max-width: 990px) {
    hr {
        margin: 10px 0px;
        width: 285px;
    }
}

@media (min-width: 1200px){
    .container {
        width: 1500px;
    }
}

a {
    text-decoration: none;
    color:#000;
}
